<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}} at {{created_at}}
    </div>
    <div class="text">
      {{contents}}
    </div>
  </section>
  {{/each}}
</div>