<section class="new-recipe-section">
  <a href="/dashboard/new">+ Create new recipe</button>
</section>


{{#if recipes.length}}
<section>
  <h2>Dashboard</h2>
  {{#each recipes as |recipe|}}
  <article>
    {{> recipe-info recipe}}
  </article>
  {{/each}}
</section>
{{/if}}