<section>
  <header>
    <h1>Login</h1>
  </header>
  <main>
    <form id="login-form">
      <div>
        <label for="username-login">Username</label>
        <input type="text" id="username-login" name="username" />
      </div>
      <div>
        <label for="password-login">Password</label>
        <input type="password" id="password-login" name="password" />
      </div>
      <div>
        <button type="submit">Log in</button>
      </div>
    </form>
  </main>

  <footer>
    <a href="/signup">Sign up instead</a>
  </footer>
</section>

<script src="/js/login.js"></script>