{{> post-info post}}

{{#if loggedIn}}
<form id="comment-form">
  <div>
    <textarea id="contents" name="contents"></textarea>
  </div>

  <div>
    <button type="submit">Add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}